<h2>Upload Student Page</h2>

<p>
  <%= form_tag '/students/upload', method: :post, controller: :students,
               action: :upload, multipart: true do %>
    <%= label_tag '.XLSX File' %>
    <br>
    <%= file_field_tag 'xlsx_file', accept: :xlsx %>
    <br>
    <%= submit_tag 'Submit .XLSX File' %>
  <% end %>
</p>

<p><%= link_to "Students Data", students_path %></p>