<h2>Upload QT Mapping Page</h2>

<p>
  <%= form_tag '/question_topic_mappings/upload', method: :post, controller: :question_topic_mappings,
               action: :upload, multipart: true do %>
    <%= label_tag '.XLSX File' %>
    <br>
    <%= file_field_tag 'xlsx_file', accept: :xlsx %>
    <br>
    <%= submit_tag 'Submit .XLSX File' %>
  <% end %>
</p>

<p><%= link_to "Question-Topic Mappings Data", question_topic_mappings_path %></p>