<h2>Upload RRK Question Page</h2>

<p>
  <%= form_tag '/rrk_questions/upload', method: :post, controller: :rrk_questions,
               action: :upload, multipart: true do %>
    <%= label_tag '.XLSX File' %>
    <br>
    <%= file_field_tag 'xlsx_file', accept: :xlsx %>
    <br>
    <%= submit_tag 'Submit .XLSX File' %>
  <% end %>
</p>

<p><%= link_to "RRK Questions Data", rrk_questions_path %></p>