<%= form_with(model: answer, local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :answer_given %>
    <%= form.text_field :answer_given %>
  </div>

  <div class="field">
    <%= form.label :correct? %>
    <%= form.check_box :correct? %>
  </div>

  <div class="field">
    <%= form.label :crn %>
    <%= form.number_field :crn %>
  </div>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.number_field :question_id %>
  </div>

  <div class="field">
    <%= form.label :section_number %>
    <%= form.number_field :section_number %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.number_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :year_offered %>
    <%= form.text_field :year_offered %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
