<p id="notice"><%= notice %></p>

<h1>Student Learning Outcomes</h1>

<table>
  <thead>
    <tr>
      <th>Accreditation Body</th>
      <th>Active Outcome?</th>
      <th>SLO Description</th>
      <th>SLO</th>
      <th>SLO Name</th>
      <th>Year Added</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_learning_outcomes.each do |student_learning_outcome| %>
      <tr>
        <td><%= student_learning_outcome.accreditation_body %></td>
        <td><%= student_learning_outcome.active_outcome? %></td>
        <td><%= student_learning_outcome.slo_description %></td>
        <td><%= student_learning_outcome.slo_id %></td>
        <td><%= student_learning_outcome.slo_name %></td>
        <td><%= student_learning_outcome.year_added %></td>
        <td><%= link_to 'Show', student_learning_outcome %></td>
        <td><%= link_to 'Edit', edit_student_learning_outcome_path(student_learning_outcome) %></td>
        <td><%= link_to 'Destroy', student_learning_outcome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Learning Outcome', new_student_learning_outcome_path %>
