<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Auxiliary Course</th>
      <th>Auxiliary Course Discipline</th>
      <th>Course</th>
      <th>Course Discipline</th>
      <th>Course Title</th>
      <th>Prerequisite ID #1</th>
      <th>Prerequisite Discipline #1</th>
      <th>Prerequisite ID #2</th>
      <th>Prerequisite Discipline #2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.auxiliary_course_id %></td>
        <td><%= course.auxiliary_course_discipline %></td>
        <td><%= course.course_id %></td>
        <td><%= course.course_discipline %></td>
        <td><%= course.course_title %></td>
        <td><%= course.prerequisite_id_1 %></td>
        <td><%= course.prerequisite_discipline_1 %></td>
        <td><%= course.prerequisite_id_2 %></td>
        <td><%= course.prerequisite_discipline_2 %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
