<h2>Upload Course Page</h2>

<p>
  <%= form_tag '/courses/upload', method: :post, controller: :courses,
               action: :upload, multipart: true do %>
    <%= label_tag '.XLSX File' %>
    <br>
    <%= file_field_tag 'xlsx_file', accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %>
    <br>
    <%= submit_tag 'Submit .XLSX File' %>
  <% end %>
</p>

<p><%= link_to "Courses Data", courses_path %></p>